version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
      - rabbitmq

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema
      POSTGRES_DB: cinema
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
